body {
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

header {
  background-image: url('assets/images/tree-bg.jpg');
  background-size: cover;
  background-position: center;
}

h2 {
  color: #2a5d34;
}

.navbar {
  background-color: #e7b87d !important;
}

.navbar.scrolled {
  background-color: #eed9bd!important;
  transition: background-color 0.3s ease-in-out;
}

.navbar .nav-link {
  color: #4b2e1e !important;
  font-weight: bold !important;  /* Makes it bold */
  font-size: 1.1rem !important;
  font-family: Arial, sans-serif;
  margin: 0 !important;  /* Adjust size (1.1–1.25rem works well) */ /* Dark brown or whatever you like */
}