body {
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

header {
  background-image: url('assets/images/tree-bg.jpg');
  background-size: cover;
  background-position: center;
}

h2 {
  color: #2a5d34;
}


.navbar.scrolled {
  background-color: #1e7e34; /* A darker shade for example */
  transition: background-color 0.3s ease-in-out;
}
